/* You can add global styles to this file, and also import other style files */
:root {
  --poke-blue: #3b4cca;
  --poke-yellow: #ffde00;
  --poke-red: #ff0000;
  --poke-deep-red: #cc0000;
  --poke-gold: #b3a125;
  --bug-color: #a8b820;
  --dark-color: #705848;
  --dragon-color: #7038f8;
  --electric-color: #f8d030;
  --fairy-color: #ee99ac;
  --fighting-color: #c03028;
  --fire-color: #f08030;
  --flying-color: #a890f0;
  --ghost-color: #705898;
  --grass-color: #78c850;
  --ground-color: #e0c068;
  --ice-color: #98d8d8;
  --normal-color: #a8a878;
  --poison-color: #a040a0;
  --psychic-color: #f85888;
  --rock-color: #b8a038;
  --steel-color: #b8b8d0;
  --water-color: #6890f0;
}
